baseURL = 'https://ole.mn/'
languageCode = 'en-us'
title = 'ole.mn - Adventures in coding, cybersecurity and design'  # ~50-60 chars
theme = ['hugo-notice', 'typo-plus', 'typo']
enableEmoji = true
enableRobotsTXT = true
minify = true
newContentEditor = "nvim"

[sitemap]
  changefreq = "monthly"

# Syntax highlight on code blocks
[markup]
defaultMarkdownHandler = 'goldmark'

[markup.goldmark]
duplicateResourceFiles = false

[markup.goldmark.extensions]
definitionList = true
footnote = true
linkify = true
linkifyProtocol = 'https'
strikethrough = false
table = true
taskList = true

[markup.goldmark.extensions.cjk]
eastAsianLineBreaks = false
eastAsianLineBreaksStyle = 'simple'
enable = false
escapedSpace = false

[markup.goldmark.extensions.extras]

[markup.goldmark.extensions.extras.delete]
enable = true

[markup.goldmark.extensions.extras.insert]
enable = true

[markup.goldmark.extensions.extras.mark]
enable = false

[markup.goldmark.extensions.extras.subscript]
enable = true

[markup.goldmark.extensions.extras.superscript]
enable = true

[markup.goldmark.extensions.passthrough]
enable = true

[markup.goldmark.extensions.passthrough.delimiters]
block = [['\[', '\]'], ['$$', '$$']]
inline = [['\(', '\)']]

[markup.goldmark.extensions.typographer]
apostrophe = '&rsquo;'
disable = false
ellipsis = '&hellip;'
emDash = '&mdash;'
enDash = '&ndash;'
leftAngleQuote = '&laquo;'
leftDoubleQuote = '&ldquo;'
leftSingleQuote = '&lsquo;'
rightAngleQuote = '&raquo;'
rightDoubleQuote = '&rdquo;'
rightSingleQuote = '&rsquo;'

[markup.goldmark.parser]
autoHeadingID = true
autoHeadingIDType = 'github'
wrapStandAloneImageWithinParagraph = true

[markup.goldmark.parser.attribute]
block = false
title = true

[markup.goldmark.renderHooks]

[markup.goldmark.renderHooks.image]
enableDefault = false

[markup.goldmark.renderHooks.link]
enableDefault = false

[markup.goldmark.renderer]
hardWraps = false
unsafe = false
xhtml = false

[markup.highlight]
noclasses = false

[params]
header = 'ole.mn'
# Meta description
description = "Musings abount interesting tech problems, enriched by occasional guest posts. May you find some interesting nuggets of knowledge here."  # ~120 chars
# Appearance settings
theme = 'auto'
colorPalette = "iceberg"
mermaidTheme = "forest"
mermaidDarkTheme = "dark"
hideHeader = false
readTime = true
showTags = true
hidePagination = true
# Footer
showFooter = false
footerContent = ""
# Intro on main page, content is markdown
homeIntroTitle = 'Hi!'
homeIntroContent = """
I am Ole: codeslinger, physicist and technology geek with an eye for design and patterns. Research Software Engineer at the [Netherlands eScience Center](https://www.esciencecenter.nl/), usually hunting for some problem to solve. Currently enjoying [NixOS](https://nixos.org/), [Python](https://www.python.org/), [Rust](https://www.rust-lang.org/) and cybersecurity.

## Highlighted Projects
* [`nps`](https://github.com/OleMussmann/nps) - The better [`nix`](https://nixos.org/) package search
"""
# Collection to display on home
homeCollectionTitle = 'Posts'
homeCollection = 'posts'
# Lists parameters
paginationSize = 50
listSummaries = true
listDateFormat = '2006-01-02'
singleDateFormat = '2006-01-02'
# Breadcrumbs
breadcrumbs = false
# Add a fake page disallowed by robots.txt
honeypot = true

# Main menu pages
[[params.menu]]
name = "home"
url = "/"

[[params.menu]]
name = "posts"
url = "/posts"

[[params.menu]]
name = "projects"
url = "/projects"

[[params.menu]]
name = "slides"
url = "/slides"

[[params.menu]]
name = "colophon"
url = "/colophon"

[[params.menu]]
name = "rss"
url = "/index.xml"

# Social icons
[[params.social]]
name = "mastodon"
url = "https://fosstodon.org/@ole"

[[params.social]]
name = "bluesky"
url = "https://bsky.app/profile/ole.mn"

[[params.social]]
name = "github"
url = "https://github.com/OleMussmann"

[[params.social]]
name = "gitlab"
url = "https://gitlab.com/OleMussmann"

[[params.social]]
name = "rss"
url = "index.xml"

[taxonomies]
tag = 'tags'

[security.exec]
allow = ["^nvim$"]

##############################################################
# ! Server config is for testing with `hugo server` _only_ ! #
# ! Set those in your server config later !                  #
##############################################################
[server]
  [[server.headers]]
    for = '/**'
    [server.headers.values]
      # Disallow other sites to fetch resources
      Access-Control-Allow-Origin = 'localhost:1313'
      X-Frame-Options = 'SAMEORIGIN'
      Content-Security-Policy = """
        default-src 'none';
        frame-src 'self';
        font-src 'self' https://cdn.jsdelivr.net/npm/katex/dist/fonts/;
        img-src 'self' data: https:;

        style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css;
        script-src-elem localhost:1313/livereload.js localhost:1313/js/theme-switch.js localhost:1313/js/copy-code.js localhost:1313/js/mermaid.js localhost:1313/js/math.js https://cdn.jsdelivr.net/npm/katex/dist/ https://cdn.jsdelivr.net/npm/mermaid/dist/ https://cdn.bokeh.org/bokeh/release/bokeh-3.7.3.min.js 'sha256-pPykIWxJnaED+2MuvQdw7UmlTMo0F1Xlurq7GWKESSs=' 'sha256-qfumtAUSAQ5hmBRF+72Dk2vbmJxXYwSR5D21L0s4RXs=' 'sha256-MgSL0q5XFiDerhfPHgSHjy6xB0vpaQ9oGFfi0TDxSgg=' 'sha256-4fzorXEQ3dRF/aJyK7SE0ktmDUtx7OH61+I/AMrowxA=' 'sha256-9sXUVYZS0aLKYG93+xGx2y4ogMl6PGLoS+MkvbavYgY=' 'sha256-K4pV+kJGbsRCGtfqnVxb/g4mGDTW2e/oUhpj2/4w+lQ=' 'sha256-U3ObuPO93kdth3kTWF/nOWhWbwaNc9my9vASDAJNpIg=' 'sha256-LdE66qyC7fzIcEluTKZGSFLyd+Rriq9sO9bw4STKJEQ=' 'sha256-+d3JgFfxiGte7Q97XVenyYqiS7Wj7x+2xP/W7LifO0w=' 'sha256-iMXJAhftnweLI6NhUjZNnmDuJFq7FBmTdVhMSZy3H9Q=' 'sha256-UklWwaEkCvuIbRujdxeT0bOpSJBXH1u02NLvkpBfJDw=' 'sha256-qlhx50sXFkRTYjUSk7swU8SiBhL1hf+mx7MoMELDMuo=' 'sha256-xtCqyM9t6yol9mxH4PjHc0FhaQZHKpfZYdnBLsITVXI=';
        script-src-attr 'self';
        connect-src ws://localhost:1313/livereload;
        worker-src 'none';
        child-src 'none';
        object-src 'none';
        form-action 'none';
        frame-ancestors 'self';

        upgrade-insecure-requests;
        base-uri 'none';
        manifest-src 'none'
      """
      Cross-Origin-Embedder-Policy = 'credentialless'
      Cross-Origin-Opener-Policy = 'same-origin'
      Cross-Origin-Resource-Policy = 'cross-origin'
      Permissions-Policy = """
        accelerometer=(),
        ambient-light-sensor=(),
        autoplay=(),
        battery=(),
        camera=(),
        cross-origin-isolated=(),
        display-capture=(),
        document-domain=(),
        encrypted-media=(),
        execution-while-not-rendered=(),
        execution-while-out-of-viewport=(),
        fullscreen=(),
        geolocation=(),
        gyroscope=(),
        keyboard-map=(),
        magnetometer=(),
        microphone=(),
        midi=(),
        navigation-override=(),
        payment=(),
        picture-in-picture=(),
        publickey-credentials-get=(),
        screen-wake-lock=(),
        sync-xhr=(),
        usb=(),
        web-share=(),
        xr-spatial-tracking=(),
        clipboard-read=(),
        clipboard-write=(),
        gamepad=(),
        speaker-selection=(),
        conversion-measurement=(),
        focus-without-user-activation=(),
        hid=(),
        idle-detection=(),
        interest-cohort=(),
        serial=(),
        sync-script=(),
        trust-token-redemption=(),
        unload=(),
        window-placement=(),
        vertical-scroll=()
      """
      Referrer-Policy = 'strict-origin-when-cross-origin'
      Strict-Transport-Security = 'max-age=31536000; includeSubDomains'
      X-Content-Type-Options = 'nosniff'
      X-Permitted-Cross-Domain-Policies = 'none'
      X-XSS-Protection = '1; mode=block'
